@import "tailwindcss";

@theme {
  /* Note: these get merged on top of Tailwind v4's defaults */
  --breakpoint-xs: 320px;        /* 320px */
  --breakpoint-md: 768px;        /* 768px */
  --breakpoint-full-hd: 120rem;  /* 1920px */
  --breakpoint-2k: 128rem;       /* 2048px */
  --breakpoint-4k: 240rem;       /* 3840px */
}
